[user]
	name = zhanxw
	email = zhanxw@gmail.com
[alias]
	ci = commit
	st = status
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[url "https://"]
	insteadOf = git://
[http]
	proxy = http://proxy.swmed.edu:3128
[https]
	proxy = http://proxy.swmed.edu:3128
[push]
	default = simple
[credential]
	helper = cache
[core]
      quotepath = false
      whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
      ui = true
[color "branch"]
      current = yellow black
      local = yellow
      remote = magenta
[color "diff"]
      meta = yellow bold
      frag = magenta bold
      old = red reverse
      new = green reverse
      whitespace = white reverse
[color "status"]
      added = yellow
      changed = green
      untracked = cyan reverse
      branch = magenta
